/*JOBLIST*/
.joblist {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 2px rgba(158, 157, 157, 1);
    border: 1px rgb(175, 174, 174);
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.judul {
    margin-left: 20px;
    margin-right: 20px;
}

.judul h3 {
    font-size: 25px;
}

.judultabel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.60);
}


.namajob.tanggal.status h6{
    font-size: 15px;
}

.namajob {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tanggal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.job1 {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(158, 157, 157, 1);
    border: 1px rgb(175, 174, 174);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}




.logocompany {
    background-color: #5898D8;
}

.logocompany img {
    margin: 10px;
    width: 50px;
    height: 5opx;
}
.perusahaan {
    width: 281.59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posisi {
    font-size: 18px;
}

.detail {
    width: 200px;
}
.namaperusahaan {
    margin-top: 10px;
   font-size: 14px;
   color: rgba(0, 0, 0, 0.60);
}

.alamat {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.60);
}

.detail ul {
    list-style-type: none;
    margin: 0px;
}

.tanggal-lamar {
    width: 281.59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tanggal-lamar  p {
    margin: 0px;
}

.pending {
    width: 281.59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pending p {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: #F5DD00;
}

.ditolak {
    width: 281.59px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.ditolak p {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 20px;
    background-color: #F50000;
}

.terima {
    width: 281.59px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.diterima {
   margin-left: 100px;
}
.diterima p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: #00F519;
}

.info{
    margin-left: 25px;
}
.info i {
    color: red;
}

.info i:hover{
    cursor: pointer;
    color: #a30404;
}
#button {
    border-color:  rgba(0, 0, 0, 0.5);
    font-size: 15px;
    background-color: #F5DD00;
    color: black;
}

#button:hover{
    background-color: #e7d423;
    border-color: black;
    color: black;
}

#button:active {
    background: #e7d423;
}

/*END JOBLIST*/