

/*BIODATA*/
    /*EDIT PROFIL*/
    .foto-profil {
        display: flex;
        width: 100%;
    }
    .profile-pic-container {
        margin-left: 30px;
        margin-top: 20px;
        border-radius: 50%;
        background-color: #6baed6; /* Warna latar belakang untuk profil */
        height: 150px; /* Tinggi gambar profil */
        width: 150px; /* Lebar gambar profil */
    }
    .profile-pic-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .button-editprofil {
        display: flex;
        margin-top: 140px;
        
    }
    .edit-photo-btn {
        position: absolute;
    }
    input[type="file"] {
        display: none;
    }
    
    #button-edit {
        background-color: #D1E2F3;
        border-radius: 10px;
        color: rgba(0, 64, 128, 0.75);
        border-color: #D1E2F3;
    }
    #button-edit:hover{
        border: 1px solid;
    }
    
        /*END EDIT PROFIL*/
        
    .biodata {
        width: 100%;
        margin-top: 30px;
        background-color: #FCFCFC;
        box-shadow: 0px 2px 2px rgba(158, 157, 157, 1);
        border: 1px rgb(175, 174, 174);
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .judul {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 25px;
        padding-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .judul h3 {
        width: 50%;
    }
    .resumeForm {
        width: 100%;
    }
    .mb-3 {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }
    #formFile {
        height: 50px;
    }
    
    .simpan {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    #button {
        height: 40px;
        width: 429px;
        border-color:  rgba(0, 0, 0, 0.5);
        font-size: 15px;
        background-color: #F5DD00;
        color: black;
    }
    
    #button:hover{
        background-color: #e7d423;
        border-color: black;
        color: black;
    }
    
    #button:active {
        background: #e7d423;
    }
    
    .jeniskelamin {
        display: flex;
        align-items: center;
    }
    
    #flexRadioDefault1 {
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }
    #flexRadioDefault2 {
        margin-left: 100px;
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }
    
    /*END BIODATA*/
    



