
.company-view {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
/* Searching */
.searching-box {
    padding-left: 50px;
    padding-right: 50px;
}

.d-flex {
    width: 100%;
}

.form-control.me-2 {
    width: 100%;
    height: 65px;
    padding-left: 20px;
    background-color: #d8e4f3;
}

.d-flex select {
    width: 50%;
    padding: 20px; 
    height: 65px;
    margin-right: 10px;
    background-color: #d8e4f3;
    
}

.btn.btn-outline-success {
    width: 100px;
    height: 65px;
    font-size: 20px;
    background-color: #17599A;
    color: white;
    border-color: #17599A;
}

.btn.btn-outline-success:hover {
    background-color: #004080; 
    color: #ffffff; 
    border-color: #004080; 
}

/* Searching */

/*SHOWING PAGE*/
.breadcrumb{
    margin-top: 10px;
}

.breadcrumb-item.active {
    padding-left: 50px;
    padding-right: 50px;
}
/*END SHOWING PAGE*/

/*CARD PERUSAHAAN*/
.cardperusahaan {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    align-items: center;
}

.card:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.card-link {
    text-decoration: none;
}
#card {
    box-shadow: 0px 2px 2px rgba(158, 157, 157, 1);
    border-radius: 5px;
}

.logo-perusahaan {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.40);
    margin-right: 10px;
}
.logo-perusahaan img{
    width: 50px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 350px;
    
}
.perusahaan {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: black;
}

.info-perusahaan h5 {
    font-size: 15px;
}

.info-perusahaan p {
    font-size: 12px;
}

#button {
    width:50%;
    color: black;
    font-size: 13px;
    box-shadow: 0px 2px 2px rgba(158, 157, 157, 1);
    border: 1px rgb(175, 174, 174);
    border-radius: 5px;
    background-color: #F5DD00;
}
#button:hover{
    background-color: #e7d423;
    border-color: black;
    color: black;
}

/*END CARD PERUSAHAAN*/

/*BUTTON SEBELUM DAN SESUDAH PAGE*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.page-item a {
    padding: 7px 14px;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-item a:hover {
    background-color: #17599A;
    color: #fff;
}

.page-item a:active {
    background-color: #17599A;
    color: #fff;
    border-color: #111d25;
}
/*END BUTTON SEBELUM DAN SESUDAH PAGE*/

