.job-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

/* Searching-Filter */
/* Searching */
.searching-filter {
    width: 100%;
}

#form-control {
    width: 750px;
    height: 65px;
    padding-left: 20px;
    margin-right: 10px;
    background-color: #d8e4f3;
    border-radius: 8px;
    border: 0;
}

.form-select {
    width: 430px;
    padding: 20px;
    height: 65px;
    margin-right: 10px;
    background-color: #d8e4f3;
    border-radius: 8px;
    border: 0;
}

.btn-outline-success {
    width: 100px;
    height: 65px;
    font-size: 20px;
    background-color: #17599A;
    color: white;
    border-color: #17599A;
}

.btn.btn-outline-success:hover {
    background-color: #004080;
    color: #ffffff;
    border-color: #004080;
}

/* Searching */

/* Filter */
.filter-box {
    display: flex;
    justify-content: left;
    margin-top: 15px;
    width: 100%;
}

.filtering {
    display: flex;
}

#dropdownMenuButton1 {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    border-radius: 100px;
    background-color:#ffffff;
    color: #000000;
}

#dropdownMenuButton2 {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    border-radius: 100px;
    background-color:#ffffff;
    color: #000000;
}

#dropdownMenuButton3 {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    border-radius: 100px;
    background-color:#ffffff;
    color: #000000;
}

.form-check {
    padding-left: 40px;
}

.btn.btn-secondary.dropdown-toggle:hover {
    background-color: #17599A;
    color: white;
    border-color: #000000;
}
/* End Filter */

/* Lowongan */
.split-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.left-job, .right-job {
    overflow-y: auto;
    flex: 1;
    height: 100%;
}

.job-container {
    width: 100%;
    margin-top: 30px;
}

.breadcrumb-item.active {
    font-size: 20px;
    font-weight: 450;
    color: #000000;
}

/* LEFT JOB */
.job-listing {
    width: 100%;
    height: 100%;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
}

.left-job {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    flex: 0 0 380px;
    overflow-y: scroll;
    height: 1000px;
    scrollbar-width: thin;
    scrollbar-color: #bbbbbb #f1f1f1;
}
.left-job::-webkit-scrollbar {
    width: 8px;
}

.left-job::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 10px;
}

.left-job::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.job-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 360px;
}

.card-body {
    width: 360px;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #00000033;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-job {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.3s ease;
    border-radius: 16px;
    border: 1px solid transparent;
    width: 362px;
    height: 254px;
}

.btn-job:hover {
    border-color: #004080;
    border: 2px solid;
}

.btn-job:active {
    border-color: #004080;
    border-width: 2px solid;
}
.company-img {
    padding-right: 15px;
}

#img-company {
    border: 1px solid #d8e4f3;
    width: 70px;
    padding: 5px;
}

.job-info {
    width: 100%;
    box-sizing: border-box;
}

.job-info hr {
    padding-bottom: 8px;
    margin: 0;
}

.job-info h5{
    font-size: large;
}

.job-info p {
    font-size: 12px;
    margin: 0;
    padding-bottom: 8px;
}

.info1, .info2 {
    display: flex;
    padding-bottom: 4px;
    align-items: center;
}

.info1 i, .info2 i {
    padding-right: 10px;
    color: #4b4b4b;
}

.info1 h6, .info2 h6 {
    font-weight: 500;
    font-size: 14px;
    color: #4b4b4b;
    letter-spacing: 0.6px;
    margin: 0;
}

.apply-save {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

#apply {
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background-color: #F5DD00;
    color:#1b1b1b;
    border-color: #004080;
    font-weight: 500;
}

#apply:hover {
    background-color: rgb(255, 177, 10);
}

/* POP UP APPLY */
#modal-content-apply {
    padding: 20px;
    width: 550px;
}
#exampleModal-apply.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#modal-body-apply {
    padding-bottom: 30px;
}
#exampleModal-apply.modal-dialog{
    width: 100%;
}
#modal-head-apply {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-head-apply h1{
    flex-grow: 1;
    text-align: center;
    margin: 0;
}
#btn-close-apply {
    position: absolute;
    top: 40%;
    right: 20px;
}
.mb-3 {
    display: flex;
    flex-direction: column;
}
.mb-3 span{
    padding-left: 10px;
}
.form-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border: 1px dashed black;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: border-color 0.3s;
    box-sizing: border-box;
    height: 60px;
}

.form-upload:hover {
    border-color: #004080;
    border: 2px dashed #004080
}

#lamar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 130px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #F5DD00;
    color: #000000;
    border-color: #000000;

}

#lamar-btn:hover {
    background-color: rgb(255, 177, 10);
}
/* END POP UP APPLY */

form#bookmarkForm-2.bookmark {
    background-color: transparent;
    border: none;
}
.bookmark form {
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    user-select: none;
    background-color: transparent;
    border: none;
}
.bookmark-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.bookmark-button:focus {
    outline: none
}

.bookmark i {
    font-size: 24px;
    vertical-align: middle;
    transition: color 0.3s;
}

.bookmark i:hover,
.bookmark i:active {
    color: #004080;
}

.bookmarked {
    color: #004080;
}
/* CSS untuk bookmark aktif */
.bookmark.active i, .simpan.active i {
    color: #004080; /* Warna saat aktif */
}

.bookmark:hover i, .simpan:hover i {
    color: #004080; /* Warna saat dihover */
}
/* Focused state */
.bookmark:focus i, .simpan:focus i {
    color: #004080; /* Ganti dengan warna biru yang Anda inginkan */
}

/* RIGHT JOB */
.right-job {
    display: flex;
    padding-left: 20px;
}
.detail-lowongan {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 950px;
}
.content-lowongan {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #00000033;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.judul-lowongan {
    display: flex;
    width: 100%;
    padding: 30px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.40);
}
.logo img {
    width: 100px;
    height: 100px;
    padding: 10px;
}
.judul {
    width: 100%;
}
.judul hr {
    margin: 0px;
}

.informasi-lowongan {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info {
    width: 400px;
    padding-left: 30px;
}

.info h6 {
    color: #17599A;
    margin-bottom: 20px;
    font-size: 18px;
}
.sub-isi {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
}
.isi-informasi {
    padding: 0;
}
.isi1{
    width: 100%;
    font-weight: bold;
}
.isi2{
    width: 100%;
    font-weight: 500;
}

.button {
    width: 60%;
}
#apply1 {
    width: 150px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5DD00;
    color: black;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 500;
}
.simpan:hover {
    background-color: #00408083;
    border: 1px solid #004080;
}
.simpan:active {
    background-color: #00408083;
    border: 1px solid #004080;
}
#apply1:hover {
    background-color: rgb(255, 177, 10);
    border: 1px solid black;
}
.simpan {
    width: 150px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.simpan p {
    margin-bottom: 0px;
    margin-left: 5px;
}
.lamar, .bookmark1 {
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

.deskripsi-pekerjaan, .kualifikasi {
    margin: 30px;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(158, 157, 157, 1);
    border: 1px rgb(175, 174, 174);
    border-radius: 5px;
}
.deskripsi-pekerjaan h6, .kualifikasi h6 {
    color: #17599A;
    margin-bottom: 20px;
    font-size: 18px;
}
.deskripsi-pekerjaan li, .kualifikasi li {
    font-size: 14px;
}

/* END DETAIL LOWONGAN */

/* End Lowongan */

/* Page section */
.pagination {
    margin-top: 20px;
    text-align: center;
    margin-left: 100px;
}

.page-btn {
    padding: 7px 14px;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
}

.page-btn:hover {
    background-color: #17599A;
    color: #fff;
}

.page-btn.active {
    background-color: #17599A;
    color: #fff;
    border-color: #3f4244;
}
/* End Page section */

/* Footer */
.footer {
    margin-top: 90px;
    position: relative;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #00264B;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.box2 {
    background-color: #F5DD00;
    position: absolute;
    width: 100%;
    height: 25px;
    z-index: 0;
}

.information {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.part1, .part2, .part3 {
    flex: 1;
    margin: 20px;
}

.part1 {
    padding-top: 70px;
    color: white;
    max-width: 330px;
}

.part1 h4 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.part1 a{
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.part2 {
    padding-top: 70px;
    color: white;
    display: flex;
    flex-direction: column;
}
.part2 h4 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}
.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 200;
}

.contact-info i {
    margin-right: 15px;
    color: #7EB2E5;
    margin-top: -15px;
    font-size: 20px;
}

.part3 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    margin-right: 0;
}

.part3 a {
    text-decoration: none;
    color: #00264B;
    margin: 0 10px;
}

.part3 i{
    display: flex;
    background-color: #7EB2E5;
    padding: 18px;
    border-radius: 50px;
    font-size: 30px;
}

/* Horizontal Line */
.horizontal-line {
    width: 90%;
    height: 1px;
    background-color: #ffffff;
    margin: 0 auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-image {
    align-self: flex-start;
    margin-left: 65px;
}

.footer-image img {
    width: 45px;
}

.footer-image .ucareer-text {
    color: #ffffff;
    padding-left: 10px;
}

.watermark {
    text-align: center;
    align-self: center;
    color: #ffffff;
    align-self: flex-end;
    margin-right: 65px;
}
/* End Footer */
