/* NAVIGASI BAR */
#myNavbar{
    background-color: #004080;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
    height: 95px;
}

#myNavbar .container-fluid {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-logo {
    width: 50px;
    margin-right: 10px;
}

.navbar-brand:hover {
    text-decoration: none; 
    color: white; 
}

.navbar-brand{
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #F5DD00;
}

.nav-item {
    padding-right: 20px;
}

.nav-link{
    color: white;
    font-size: 18px;
}

.login-button .btn {
    font-size: 18px; 
    color: black;
    font-weight: 500;
    background-color: #F5DD00;
    padding-left: 20px;
    padding-right: 20px;
}
/* END NAVIGASI BAR */

/* TOGGLER */
/* NAVIGASI BAR */
#myNavbar{
    background-color: #004080;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
    height: 95px;
}

#myNavbar .container-fluid {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-logo {
    width: 50px;
    margin-right: 10px;
}

.container-fluid a {
    color: white;
}

.container-fluid a:hover{
    color: #F5DD00;
}

.navbar-brand:hover {
    text-decoration: none; 
    color: white; 
}

.navbar-brand{
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #F5DD00;
}

.navbar-nav {
    padding: 0px;
    display: flex;
}
.nav-item {
    padding-right: 20px;
}

.nav-item a {
    color: white;
    font-size: 20px;
}

.akun {
    width: 190px;
}
.akun a {
    text-decoration: none;
    border: 1px solid;
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-color: white;
    color: white;
}

.akun a h6 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

.akun a i {
    border: 1px solid;
    width: 52px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    color: #004080;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.akun a:hover {
    background-color: #00264B;
    border-color: #ffffff;
    color: #ffffff;
}

.akun:hover i,
.akun:hover h6 {
    border-color: #004080;
}

.wishlist {
    font-size: 35px;  
}
.wishlist a { 
    padding-right: 15px;
    color: white;
}

.dropdown-menu a {
    color: black;
    font-size: 15px;
}
/* END NAVIGASI BAR */