/* NAVBAR */
.right-view {
    width: 80%;
}
.background {
    position: relative;
    height: fit-content;
}
.content-background {
    display: flex;
    position: absolute;
    top: 20%;
    left: 15px;
    width: calc(100% - 30px); /* Menyisakan ruang pada kedua sisi */
    z-index: 2;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 178, 229, 0.70);
    z-index: 1;
}
.background img{
   width: 100%;
   height: 150px;
}
.jargon {
    position: absolute;
    left: 15px;
    color: white; /* Warna tulisan */
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}
.company-akun {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #17599A;
    max-width: 200px;
    border-radius: 10px;
    border: 1.5px solid #00264B;
}
.icon-company {
    background-color: white;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1.5px solid #00264B;
}
.icon-company i {
    font-size: 25px;
}
.name-of-company p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}
/* END NAVBAR */