<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perusahaan - Pelamar</title>
    <link rel="stylesheet" href="/companycss/company-detailpelamar.css">
    <link rel="stylesheet" href="/css-bootstrap/bootstrap.css">
    <script src="/js-bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<!--ISI KONTEN-->
  <div class="profil-view">
    
    <!--SIDEBAR-->
    <div class="sidebar">
      <div class="logo-brand">
        <img src="../IMAGE/logo_circ-removebg-preview.png" alt="logo" width="45px">
        <span class="text-ucareer">UCareer</span>
      </div>
      <div class="option-sidebar">
        <nav class="nav flex-column">
          <a class="nav-link" id="opsi" href="../HTML/company-profil.html"><i class="bi bi-person-circle"></i>Profil</a>
          <a class="nav-link" id="opsi" href="#"><i class="bi bi-bag-fill"></i>Lowongan</a>
          <a class="nav-link active" id="opsi" aria-current="page" href="../HTML/company-pelamar.html"><i class="bi bi-clipboard2-check-fill"></i>Pelamar</a>
          <a class="nav-link" id="opsi" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="bi bi-box-arrow-right"></i>Log out</a>
          <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Apakah kamu yakin ingin keluar?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                      <a href="#"><button type="button" class="btn btn-danger" id="confirmLogout">Logout</button></a>
                  </div>
                </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--END SIDEBAR-->

    <!--RIGHT-VIEW-->
    <div class="right-view">
      <!--NAVBAR-->
      <div class="background">
          <img src="../IMAGE/background-company.jpg" alt="background">
          <div class="content-background">
            <div class="jargon">
                <h4>Find the Right Candidates for your Business</h4>
                <p>Your success comes from Recruitment!</p>
            </div>
            <div class="company-akun">
                <div class="icon-company">
                    <i class="bi bi-buildings-fill"></i>
                </div>
                <div class="name-of-company">
                    <p>CRIC DSFE</p>
                </div>
            </div>
          </div>
        </div>
        <!--END NAVBAR-->

        <!--ISI DETAIL PELAMAR-->
        <div class="detailpelamar">
            <div class="pelamar">
                <div class="back"> <a href="../HTML/company-pelamar.html">
                    <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
                <div class="isi-detail">
                    <div class="detail">
                        <div class="profil-detail">
                            <div class="foto">
                                <img src="../IMAGE/profil.png" alt="foto profil">
                            </div>
                            <div class="info">
                                <h6>Alexandra</h6>
                                <p>Universitas Al-Azhar Indonesia</p>
                            </div>
                        </div>
                        <div class="cv-portfol">
                            <div class="CV">
                                <a href="#"><i class="bi bi-download"></i>CV</a>
                            </div>
                            <div class="portfolio">
                                <a href="#"><i class="bi bi-download"></i>Portofolio</a>
                            </div>
                        </div>
                    </div>
                    <div class="detail2">
                            <div class="desc">
                                <h6>Deskripsi Diri</h6>
                            </div>
                            <div class="isi-desc">
                                <p>Saya merupakan alumni dari Universitas Al Azhar Indonesia angkatan 2021.Selama berkuliah saya memiliki minat dalam bidang Data Science dan telah melakukan beberapa project mengenai Data Science.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END ISI DETAIL PELAMAR--> 
    </div>
    <!--END RIGHT-VIEW-->
  </div>
  <!--END ISI KONTEN-->
  
  <!-- Footer -->
  <div class="footer">
    <div class="box1">

      <!-- Information -->
      <div class="information">
        <div class="part1">
          <h4>CRIC DSFE UAI</h4>
          <p><a href="#">Lowongan Kerja</a></p>
          <p><a href="#">Perusahaan</a></p>
          <p><a href="#">Tentang Kami</a></p>
          <p><a href="#">Profil</a></p>
        </div>

        <div class="part2">
          <h4>REACH US!</h4>
          <div class="contact-info">
            <i class="bi bi-geo-alt-fill"></i>
            <p>Ruang CRIC, lantai 2 Universitas Al-Azhar Indonesia </p>
          </div>
          <div class="contact-info">
            <i class="bi bi-envelope-fill"></i>
            <p>cric-dsfe@uai.ac.id</p>
          </div>
          <div class="contact-info">
            <i class="bi bi-telephone-fill"></i>
            <p>+62 8788731 6662</p>
          </div>
        </div>
        
        <div class="part3">
          <a href="https://www.linkedin.com/company/cric-dsfe/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/cric.dsfe.uai/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
      <div class="box2"></div>

      <!-- Horizontal Line -->
      <div class="horizontal-line"></div>
          
      <!-- Image and Watermark -->
      <div class="footer-bottom">
        <div class="footer-image">
            <img src="../IMAGE/logo_circ-removebg-preview.png" alt="logo">
            <span class="ucareer-text">UCareer</span>
        </div>
        <div class="watermark">
            <p>&copy; 2024 CRIC DSFE UAI. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->

  <script>
    function loadCoverImage(event) {
        const coverImage = document.getElementById('cover-image');
        coverImage.src = URL.createObjectURL(event.target.files[0]);
        coverImage.onload = function() {
            URL.revokeObjectURL(coverImage.src); // release memory
        }
    }

    function loadProfileImage(event) {
        const profileImage = document.getElementById('profile-image');
        profileImage.src = URL.createObjectURL(event.target.files[0]);
        profileImage.onload = function() {
            URL.revokeObjectURL(profileImage.src); // release memory
        }
    }
</script>
</body>
</html>