.lowongan-view {
    display: flex;
    width: 100%;
    height: 100%;
}
/* SIDEBAR */
.sidebar {
    width: 20%;
    background-color: #0C2943;
    padding-left: 10px;
    padding-right: 10px;
}

.option-sidebar {
    margin-bottom: 30px;
}

#opsi {
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}
#opsi i {
    margin-right: 10px;
}
#opsi:hover {
    background-color: #7EA5CD;
    border-radius: 10px;
}
.nav-link.active {
    background-color: #7EA5CD;
    border-radius: 10px;
}
.logo-brand {
    background-color: #17599A;
    padding: 10px;
    color:white;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-ucareer {
    margin-left: 10px;
    font-size: 20px;
}
/* END SIDEBAR */
/* NAVBAR */
.right-view {
    width: 80%;
}
.background {
    position: relative;
    height: fit-content;
}
.content-background {
    display: flex;
    position: absolute;
    top: 20%;
    left: 15px;
    width: calc(100% - 30px); /* Menyisakan ruang pada kedua sisi */
    z-index: 2;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 178, 229, 0.70);
    z-index: 1;
}
.background img{
   width: 100%;
   height: 150px;
}
.jargon {
    position: absolute;
    left: 15px;
    color: white; /* Warna tulisan */
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}
.company-akun {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #17599A;
    max-width: 200px;
    border-radius: 10px;
    border: 1.5px solid #00264B;
}
.icon-company {
    background-color: white;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    padding: 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1.5px solid #00264B;
}
.icon-company i {
    font-size: 25px;
}
.name-of-company p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}
/* END NAVBAR */

/* LOWONGAN PERUSAHAAN*/
a {
    text-decoration: none;
}
.judul-c {
    display: flex;
    align-items: center;
    margin: 20px;
}
.back-link {
    text-decoration: none;
    color: inherit;
}
.back-link:hover {
    color: #17599A;
}
.judul-c i {
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}
.judul-c h5 {
    margin: 0;
    padding-left: 15px;
}

.c-lowongan-box {
    background-color: #E4F3FF;
    padding: 20px;
    margin: 20px;
    padding-bottom: 100px;
}
.c-job-view {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-button {
    display: flex;
    justify-content: left;
}
.general-info, .specific-info{
    background-color: #E4F3FF;
    width: 140px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 70px;
    text-align: center;
    box-shadow: 0px 3px 3px rgb(172, 172, 172, 1);
    border: 1px rgb(175, 174, 174);
    cursor: pointer;
    display: flex; 
    justify-content: center; 
}
.general-info a, .specific-info a{
    text-decoration: none;
}
.general-info h5, .specific-info h5{
    color: black;
    margin: 0;
}
.general-info:hover, .specific-info:hover{
    border-bottom: 4px solid #004080;
    background-color: #7eb1e549;
}

.active {
    border-bottom: 4px solid #004080;
    background-color: #7eb1e549;
}
.information-form {
    margin-top: 40px;
}

.information-form input, .information-form select{
    height: 50px;
}

.information-save {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#information-save-btn {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #F5DD00;
    color: black;
    font-weight: 500;
    border: 1px solid #004080;
}
#information-save-btn:hover {
    background-color: rgb(255, 177, 10);
}
.link-underline-primary {
    text-decoration: underline;
    font-size: 20px;
    margin-left: 30px;
}

/* END LOWONGAN PERUSAHAAN */

/* Footer */
.footer {
    position: relative;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #00264B;
    justify-content: space-between; 
    align-items: flex-start;
    margin: 0 auto; 
    z-index: 1;
    position: relative;
}

.box2 {
    background-color: #F5DD00;
    position: absolute; 
    width: 100%;
    height: 25px;
    z-index: 0;
}

.information {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.part1, .part2, .part3 {
    flex: 1; 
    margin: 20px;
}

.part1 {
    padding-top: 70px;
    color: white;
    max-width: 330px;
}

.part1 h4 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.part1 a{
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.part2 {
    padding-top: 70px;  
    color: white;
    display: flex;
    flex-direction: column;
}
.part2 h4 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}
.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 200;
}
  
.contact-info i {
    margin-right: 15px; 
    color: #7EB2E5;
    margin-top: -15px;
    font-size: 20px;
}

.part3 {
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 150px;
    margin-right: 0;
}

.part3 a {
    text-decoration: none; 
    color: #00264B;
    margin: 0 10px;
}

.part3 i{
    display: flex;
    background-color: #7EB2E5;
    padding: 18px;
    border-radius: 50px;
    font-size: 30px;
}

/* Horizontal Line */
.horizontal-line {
    width: 90%;
    height: 1px; 
    background-color: #ffffff; 
    margin: 0 auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-image {
    align-self: flex-start; 
    margin-left: 65px;
}

.footer-image img {
    width: 45px;
}

.footer-image .ucareer-text {
    color: #ffffff; 
    padding-left: 10px;
}

.watermark {
    text-align: center; 
    align-self: center;
    color: #ffffff; 
    align-self: flex-end; 
    margin-right: 65px;
}
/* End Footer */