/*BIODTA PERUSAHAAN*/
.biodata-company h5 {
    margin: 20px;
}
.biodata {
    background-color: #E4F3FF;
    padding: 20px;
    margin: 20px;
    padding-bottom: 40px;

}

.cover-container {
    position: relative;
    background-color: #ADD8E6; /* Warna latar belakang untuk cover */
    height: 200px; /* Sesuaikan tinggi cover */
    margin-bottom: 80px;
}
.cover-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit-cover-btn {
    position: absolute;
    top: 150px;
    right: 20px;
}
.profile-pic-container {
    position: absolute;
    bottom: -50px; /* Setengah dari tinggi gambar profil untuk setengah terlihat */
    left: 20px;
    background-color: #6baed6; /* Warna latar belakang untuk profil */
    height: 150px; /* Tinggi gambar profil */
    width: 150px; /* Lebar gambar profil */
}
.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit-photo-btn {
    position: absolute;
    bottom: 10px;
    left: 13px;
}
input[type="file"] {
    display: none;
}

#button-edit {
    background-color: #D1E2F3;
    border-radius: 10px;
    color: rgba(0, 64, 128, 0.75);
    border-color: #D1E2F3;
}
#button-edit:hover{
    border: 1px solid;
}
.isi-biodata {
    padding-left: 10px;
    padding-right: 10px;
}
.simpan {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button {
    height: 40px;
    width: 429px;
    border-color:  rgba(0, 0, 0, 0.5);
    font-size: 15px;
    background-color: #F5DD00;
    color: black;
}

#button:hover{
    background-color: #e7d423;
    border-color: black;
    color: black;
}

#button:active {
    background: #e7d423;
}

/*END EDIT FOTO*/

